@model gestione_ticket_final.Models.LavorazioneTicket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LavorazioneTicket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtenteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtenteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_presa_incarico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_presa_incarico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ora_presa_incarico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ora_presa_incarico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.motivazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.motivazione)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LavorazioneTicketId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
