@model IEnumerable<gestione_ticket_final.Models.LavorazioneTicket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UtenteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_presa_incarico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ora_presa_incarico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.motivazione)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UtenteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_presa_incarico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ora_presa_incarico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motivazione)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LavorazioneTicketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LavorazioneTicketId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LavorazioneTicketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
