@model IEnumerable<gestione_ticket_final.Models.Prodotto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProdottoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProdottoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdottoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdottoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdottoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
