@model gestione_ticket_final.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_apertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_apertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ora_apertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ora_apertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_chiusura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_chiusura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ora_chiusura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ora_chiusura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdottoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdottoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluzione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluzione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssegnaAllUtenteLoggato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssegnaAllUtenteLoggato)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_ticket">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
