@model IEnumerable<gestione_ticket_final.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4">
            <button type="button" onclick="openModal('@item.Id_ticket')">
                <div class="card">
                    <div class="card-body Scrolbar" style="max-height: 200px; overflow-y: auto;">
                        <h5 class="card-title">Ticket ID: @item.Id_ticket</h5>
                        <p class="card-text">Data Apertura: @item.Data_apertura</p>
                        <p class="card-text">Ora Apertura: @item.Ora_apertura</p>
                        <p class="card-text">Data Chiusura: @item.Data_chiusura</p>
                        <p class="card-text">Ora Chiusura: @item.Ora_chiusura</p>
                        <p class="card-text">Descrizione: @item.Descrizione</p>
                        <p class="card-text">Soluzione: @item.Soluzione</p>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@item.Id_ticket" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id_ticket" class="btn btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id_ticket" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </button>
        </div>
    }
</div>
