@model IEnumerable<gestione_ticket_final.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data_apertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ora_apertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_chiusura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ora_chiusura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtenteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdottoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluzione)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data_apertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ora_apertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_chiusura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ora_chiusura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtenteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdottoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluzione)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_ticket">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_ticket">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_ticket">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
